# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [50]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore = pd.read_csv("D:\\_Media\\_Personal\\School\\Launchcode\\Github_Repo\\data-analysis-projects\\data-manipulation\\studio\\data-manipulation-studio\\dataset\\baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("D:\\_Media\\_Personal\\School\\Launchcode\\Github_Repo\\data-analysis-projects\\data-manipulation\\studio\\data-manipulation-studio\\dataset\\boston_9-24-2016_9-30-2017.csv")
new_york = pd.read_csv("D:\\_Media\\_Personal\\School\\Launchcode\\Github_Repo\\data-analysis-projects\\data-manipulation\\studio\\data-manipulation-studio\\dataset\\new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("D:\\_Media\\_Personal\\School\\Launchcode\\Github_Repo\\data-analysis-projects\\data-manipulation\\studio\\data-manipulation-studio\\dataset\\philadelphia_9-24-2016_9-30-2017.csv")
#baltimore.head()

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

**Recommended cleaning steps:**
1. Handle missing values in the `Type` column (fill with "Conventional" if needed)
2. Drop irrelevant columns such as `Grade` (only applies to canned pumpkins)
3. Drop columns with high percentages of missing data that aren't needed for analysis
4. Check for and address any other data quality issues you notice

In [51]:
#Part 1
typefill = {"Type": "Conventional"}
baltimore = baltimore.fillna(value=typefill)
boston = boston.fillna(value=typefill)
new_york = new_york.fillna(value=typefill)
philadelphia = philadelphia.fillna(value=typefill)
#baltimore.head()

In [52]:
#Part 2-3
baltimore = baltimore.dropna(how="all").dropna(axis="columns", how="all")
new_york = new_york.dropna(how="all").dropna(axis="columns", how="all")
philadelphia = philadelphia.dropna(how="all").dropna(axis="columns", how="all")
boston = boston.dropna(how="all").dropna(axis="columns", how="all")

#Part 4: i used this to find unique values in each column of a whole dataframe after i combined it later and didnt find any other issues. I could also run this on each city individually
for col in northeast_region.columns:
    print(f"\n--- {col} ---")
    print(northeast_region[col].unique())

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [53]:
# Combine the four dataframes into one!
northeast_region = pd.concat([baltimore, boston, new_york, philadelphia])
northeast_region.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack,Origin District
0,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,med,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,NaN,NaN,N,NaN

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region?
2. For the Northeast region, what is the total count of transactions (rows) for each pumpkin variety that came into terminal markets for the year?

In [54]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
#northeast_region["Unit of Sale"].describe()
#northeast_region["Unit of Sale"].unique() == [nan, 'EACH', 'PER BIN', 'SHELLACKED']

northeast_region.groupby("Unit of Sale").agg({
    "Low Price": "mean",
    "High Price": "mean"
})

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [55]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
pumpkins_by_city = northeast_region.groupby(["City Name", "Variety"]).size()
pumpkins_by_city

pumpkin_variety_avgs = (
    pumpkins_by_city
    .groupby("Variety")
    .mean()
    .reset_index(name="Pumpkin Type Avgs")
)
pumpkin_variety_avgs

                    Variety  Pumpkin Type Avgs
0             BIG MACK TYPE          18.333333
1                 BLUE TYPE           7.000000
2                CINDERELLA          19.500000
3                 FAIRYTALE          18.500000
4               HOWDEN TYPE          56.000000
5         HOWDEN WHITE TYPE           2.000000
6              KNUCKLE HEAD           3.000000
7                 MINIATURE          24.250000
8  MIXED HEIRLOOM VARIETIES           2.000000
9                  PIE TYPE          49.500000

## Bonus Mission

Try answering the same questions for a different region! Choose either:
- **Midwest**: Chicago, Detroit, and St. Louis
- **Southeast**: Atlanta, Columbia, and Miami

Load, clean, and combine the data for your chosen region, then calculate:
1. The mean low and high prices for each type of unit of sale
2. The total count of transactions for each pumpkin variety

In [56]:
# Try the bonus mission if you have time!