# Creating DataFrames

## Using a Multi-Dimensional List

In [2]:
# import pandas
import pandas as pd

# Create a pandas DataFrame by providing a list of lists
movie_list_of_lists = pd.DataFrame([["Interstellar", "Pride and Prejudice", "Inception", "Barbie"],["Marley & Me", "Two Weeks Notice", "The Guardian", "Bridesmaids"]])

# Create a pandas Series from a pre-existing list of lists
movies_dataframe_data = [["Interstellar", "Pride and Prejudice", "Inception", "Barbie"],["Marley & Me", "The Proposal", "The Guardian", "Bridesmaids"]]

dataframe_from_existing_list = pd.DataFrame(movies_dataframe_data)

# Adding print statements
print(dataframe_from_existing_list)

              0                    1             2            3
0  Interstellar  Pride and Prejudice     Inception       Barbie
1   Marley & Me         The Proposal  The Guardian  Bridesmaids

## Using a Dictionary

In [3]:
# import pandas
import pandas as pd

# Create a pandas DataFrame by providing a dictionary
movie_dictionary_dataframe = pd.DataFrame(movies = {'Name': ["Interstellar", "Pride and Prejudice", "Inception", "Barbie"],'Release': [2014, 2005, 2010, 2003]})

# Create a pandas DataFrame from a pre-existing dictionary
movies = {'Name': ["Interstellar", "Pride and Prejudice", "Inception", "Barbie"],'Release': [2014, 2005, 2010, 2003]}

dataframe_from_movies_dictionary = pd.DataFrame(movies)

# Adding print statements
print(dataframe_from_movies_dictionary)

TypeError: DataFrame.__init__() got an unexpected keyword argument 'movies'

## Using a Tuple

In [ ]:
# import pandas
import pandas as pd

# Create a pandas DataFrame by providing a tuple
movies_tuple_dataframe = pd.DataFrame(("Interstellar", "Pride and Prejudice"), ("Inception", "Barbie"))

# Create a pandas DataFrame by providing a pre-existing tuple
movies_data = (("Interstellar", "Pride and Prejudice"), ("Inception", "Barbie"))

dataframe_from_existing_tuple = pd.DataFrame(movies_data)

# Adding print statements
print(dataframe_from_existing_tuple)

# Create a DataFrame from Series

In [8]:
import pandas as pd

movies = pd.Series(["Interstellar", "Pride and Prejudice", "Inception", "Barbie"], index=['1', '2', '3', '4'], name = 'movies')

genres = pd.Series(["Science Fiction", "Novel", "Science Fiction", "Comedy"], index=['1', '2', '3', '4'], name='genres')

# Using the two series above we can concatenate the two together in order to create a DataFrame.

movies_genres_dataframe = pd.concat([movies, genres], axis=1) # axis 1 specifies that the operations will be performed down each column

# Adding print statement
print(movies_genres_dataframe)

                movies           genres
1         Interstellar  Science Fiction
2  Pride and Prejudice            Novel
3            Inception  Science Fiction
4               Barbie           Comedy

## Column Data

In [11]:
# import pandas
import pandas as pd

movies = {'Name': ["Interstellar", "Pride and Prejudice", "Inception", "Barbie"],'Release': [2014, 2005, 2010, 2003]}

movies_dataframe = pd.DataFrame(movies)

movie_names = movies_dataframe["Name"]

# Adding print statements
print(movies_dataframe)
print(movie_names)

                  Name  Release
0         Interstellar     2014
1  Pride and Prejudice     2005
2            Inception     2010
3               Barbie     2003
0           Interstellar
1    Pride and Prejudice
2              Inception
3                 Barbie
Name: Name, dtype: object

## Multiple Column Data

In [12]:
# import pandas
import pandas as pd

movies = {'Name': ["Interstellar", "Pride and Prejudice", "Inception", "Barbie"],'Release': [2014, 2005, 2010, 2003], 'Genre': ["Science Fiction", "Novel", "Science Fiction", "Comedy"]}

movies_dataframe = pd.DataFrame(movies)

# Pull aside the Name and Genre columns from the movies_dataframe
movie_names_and_genres = movies_dataframe[["Name", "Genre"]]

# Adding print statements
print(movies_dataframe)
print(movie_names_and_genres)

                  Name  Release            Genre
0         Interstellar     2014  Science Fiction
1  Pride and Prejudice     2005            Novel
2            Inception     2010  Science Fiction
3               Barbie     2003           Comedy
                  Name            Genre
0         Interstellar  Science Fiction
1  Pride and Prejudice            Novel
2            Inception  Science Fiction
3               Barbie           Comedy

In [17]:
d = {'col1': [1, 2], 'col2': [3, 4]}
e = {'cola': [3,5,3,2,5], 'colb': [42,4,53,4,2]}
df = pd.DataFrame(data=e)
df

   cola  colb
0     3    42
1     5     4
2     3    53
3     2     4
4     5     2